Repository fredrikj31/thoughts: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run app:format, pnpm run app:lint, pnpm run api:format, pnpm run api:lint

.lintstagedrc:

{
  "app/**/*": ["pnpm run app:format", "pnpm run app:lint"],
  "api/**/*": ["pnpm run api:format", "pnpm run api:lint"]
}

docs(readme): updates environment variables in readme
  README.md
Due: none

docs(readme): adds instructions to get started developing
  README.md
Due: none

ci(workflows): removes turbo-ignore command from release workflow
  .github/workflows/release.yaml
Due: none

chore(api): installs @scalar/fastify-api-reference npm package
  api/package.json
  pnpm-lock.yaml
Due: pnpm run api:format, pnpm run api:lint

chore(api): uninstalls @fastify/swagger-ui npm package
  api/package.json
  pnpm-lock.yaml
Due: pnpm run api:format, pnpm run api:lint

chore(api): removes swagger-ui options and settings
  api/src/plugins/swagger.ts
Due: pnpm run api:format, pnpm run api:lint

feat(api): replaces swagger ui with scalar api docs
  api/src/app.ts
Due: pnpm run api:format, pnpm run api:lint

fix(api): fixes api host for swagger options
  api/src/plugins/swagger.ts
Due: pnpm run api:format, pnpm run api:lint

fix(api): changes GenderSchema to a enum type
  api/src/types/index.ts
Due: pnpm run api:format, pnpm run api:lint

refactor(api): renames /types/index.ts to /types/shared.ts
  api/src/types/profiles.ts
  api/src/types/shared.ts
Due: pnpm run api:format, pnpm run api:lint

feat(app): adds shared types/schemas (gender & date) for profile schema
  app/src/types/profile.ts
  app/src/types/shared.ts
Due: pnpm run app:format, pnpm run app:lint

ci(workflows): adds files-changed step to only release changed files
  .github/workflows/release.yaml
Due: none

chore(npm): adds "build:check" scripts to check types in projects
  api/package.json
  app/package.json
  package.json
Due: pnpm run app:format, pnpm run app:lint, pnpm run api:format, pnpm run api:lint

feat(lint-staged): adds "build:check" scripts to api & app files
  .lintstagedrc
Due: none

fix(app): fixes build issue with signup gender typings
  app/src/routes/Signup/index.tsx
  app/src/types/shared.ts
Due: pnpm run app:format, pnpm run app:lint

feat(lint-staged): adds "build:check" script to projects
  .lintstagedrc
  lint-staged.config.js
  package.json
Due: none

fix(api): fixes import (dynamic import) for scalar api docs
  api/src/app.ts
Due: pnpm run api:format, pnpm run api:lint

chore(api): updates packages (patch & minor) for API
  api/package.json
  pnpm-lock.yaml
Due: pnpm run api:format, pnpm run api:lint

chore(app): updates packages (patch & minor) for app
  app/package.json
  pnpm-lock.yaml
Due: pnpm run app:format, pnpm run app:lint

chore(package.json): adds "format:write" script to prettier write files
  api/package.json
  app/package.json
  package.json
Due: pnpm run app:format, pnpm run app:lint, pnpm run api:format, pnpm run api:lint

chore(prettier): removes unused folders from .prettierignore
  api/.prettierignore
  app/.prettierignore
Due: pnpm run app:format, pnpm run app:lint, pnpm run api:format, pnpm run api:lint

feat(lint-staged): adds "format:check" to api & app checks
  lint-staged.config.js
Due: none

style(app): fixes prettier issues in Home.tsx file
  app/src/routes/Home.tsx
Due: pnpm run app:format, pnpm run app:lint

chore(project): removes old .eslintrc file from project root
  .eslintrc
Due: none

chore(pnpm): updates packages in api and app project
  api/package.json
  app/package.json
  package.json
  pnpm-lock.yaml
Due: pnpm run app:format, pnpm run app:lint, pnpm run api:format, pnpm run api:lint

fix(app): upgrades shadcn date picker component
  app/src/components/DatePicker.tsx
  app/src/components/Navbar/components/NavbarLink.tsx
  app/src/components/Navbar/index.tsx
  app/src/routes/Signup/index.tsx
  app/src/shadcn-ui/components/ui/button.tsx
  app/src/shadcn-ui/components/ui/calendar.tsx
Due: pnpm run app:format, pnpm run app:lint

feat(tailwind): bumps tailwind to v4
  app/package.json
  app/postcss.config.js
  app/src/index.css
  app/src/routes/Settings/components/ProfileSettings.tsx
  app/tailwind.config.js
  app/vite.config.ts
  pnpm-lock.yaml
Due: pnpm run app:format, pnpm run app:lint

feat(api): fixes slonik database plugin for api
  api/src/services/database/client.ts
Due: pnpm run api:format, pnpm run api:lint

fix(app): fixes profile image state changing in profile settings
  app/src/routes/Settings/components/ProfileSettings.tsx
Due: pnpm run app:format, pnpm run app:lint

feat(docker-compose): adds custom logging configuration for services
  docker-compose.yaml
Due: none
